     body {
         overflow: hidden;
     }

     * {
         margin: 0;
         padding: 0;
     }

     a,
     ul,
     li {
         list-style: none;
         text-decoration: none;
     }

     .container {
         position: relative;

     }



     .lunbo-wrap {
         width: 1220px;
         position: absolute;
         top: 130px;
         left: 26px;
           height: 320px;
           overflow: hidden

     }

     .lunbo-list {
         width: 10200px;
         position: absolute;
         top: 0;
         left: -288px;

     }

     .lunbo-list li {
       
         float: left;
         margin-right: 10px;
         border: 3px solid transparent;
         box-sizing: border-box
     }

     .lunbo-list li img {
         width: 576px;
         height: 320px;
     }
